* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Common Styles */
.primary-color {
    color: #FD6E0A;
}

.primary-button {
    background: #FD6E0A;
}

/* Header Styles */
.nav {
    display: flex;
    justify-content: space-around;
}

.nav-item-container {
    display: flex;

}

ul>li {
    list-style: none;
}

li>a {
    text-decoration: none;
    color: #474747;
    ;

}